/*=====================
Global Layout Set-up
=====================*/
* {
     box-sizing: border-box;
}

body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     color: #222;
     background: #f6f7f6;
}


/*============
Link Styles
============*/
a {
     text-decoration: none;
     color: #464646;
}


/*===============
Section Styles
===============*/
header {
     width: 100%;
     min-height: 30px;
     text-align: center;
}

header .container {
     margin-left: 5%;
     margin-right: 5%;
     line-height: 1.5;
}

.main_nav {
     display: flex;
     flex-direction: column;
     font-weight: 700;
     list-style-type: none;
     padding: 0;
     margin: 0;
     color: #464646;
}

.main_nav .large_name {
     background: #f6f7f6;
     font-size: 1.7rem;
     margin: 0;
}

.main_nav li {
     background: white;
     margin-top: 1%;
     margin-bottom: 1%;
     padding: 3.2%;
     font-size: 0.9rem;
     color: #464646;
}

main {
     width: 100%;
}

#home {
     width: 100%;
     color: grey;
}

#home .container {
     margin-left: 5%;
     margin-right: 5%;
     line-height: 1.5;
     padding-top: 15%;
     padding-bottom: 15%;
}

#home img {
     width: 60%;
}

#portfolio {
     width: 100%;
     background: white;
     color: grey;
}

#portfolio h2 {
     color: #464646;
     font-size: 0.9rem;
     padding-top: 15%;
     margin: 0 5%;
}

#portfolio .container {
     margin-left: 5%;
     margin-right: 5%;
     line-height: 1.5;
     padding-top: 7.5%;
     padding-bottom: 7.5%;
}

.project_container {
     padding-top: 7.5%;
     padding-bottom: 7.5%;
}

.project_container p {
     margin: 0;
}

#portfolio img {
     width: 100%;
}

#portfolio h3 {
     color: #464646;
}

#contact {
     width: 100%;
     color: grey;
}

#contact h2 {
     color: #464646;
     font-size: 0.9rem;
     padding-top: 15%;
     margin: 0 5%;
}

#contact .container {
     margin-left: 5%;
     margin-right: 5%;
     line-height: 1.5;
     padding-top: 10%;
     padding-bottom: 10%;
}

#contact .contact_paragraph {
     padding-bottom: 8%;
}

#contact p {
     padding-top: 2%;
     padding-bottom: 2%;
     margin: 0;
}

footer {
     width: 100%;
     min-height: 30px;
}

footer .container {
     margin-left: 5%;
     margin-right: 5%;
     line-height: 1.5;
     border-top: 1px solid #464646;
     padding-top: 25px;
     padding-bottom: 25px;
     color: #464646;
}

.mini_nav_small {
     display: flex;
     justify-content: space-between;
     font-weight: 700;
     list-style-type: none;
     padding: 0;
     font-size: 0.9rem;
     margin: 0;
}

.mini_nav_large {
     display: none;
}


/*==========================
Styles for larger screens
==========================*/
@media screen and (min-width: 768px) {

     header .container {
          margin-left: 4%;
          margin-right: 4%;
     }

     .main_nav {
          display: block;
          font-weight: 700;
          list-style-type: none;
          padding-top: 4%;
          margin: 0;
          color: #464646;
     }

     .main_nav .large_name {
          display: block;
          padding-bottom: 0;
     }

     .main_nav li {
          display: inline-block;
          background: #f6f7f6;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 3.2%;
          padding-bottom: 0;
          color: #464646;
     }

     #home .container {
          margin-left: 4%;
          margin-right: 4%;
          padding-top: 8%;
          padding-bottom: 8%;
     }

     #home .group:after {
          content: "";
          display: table;
          clear: both;
     }

     #home img {
          width: 38%;
          float: right;
     }

     #home p {
          width: 61%;
          float: left;
          font-size: 1.3rem;
          text-align: left;
          margin: 0;
     }

     #portfolio h2 {
          padding-top: 8%;
     }

     #portfolio .container {
          padding-top: 4%;
          padding-bottom: 4%;
          margin-left: 4%;
          margin-right: 4%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
     }

     .project_container {
          width: 49%;
          padding-top: 4%;
          padding-bottom: 4%;
     }

     #contact h2 {
          color: #464646;
          padding-top: 8%;
     }

     #contact .container {
          line-height: 1.5;
          font-size: 1.3rem;
          padding-top: 4%;
          margin-left: 15%;
          margin-right: 15%;
     }

     #contact .contact_paragraph {
          padding-bottom: 6%;
     }

     #contact p {
          padding-top: 1%;
          padding-bottom: 1%;
          margin: 0;
     }

     .mini_nav_small {
          display: none;
     }

     .mini_nav_large {
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          list-style-type: none;
          padding: 0;
          font-size: 0.9rem;
          margin: 0;
     }

     .small_name {
          margin-right: 50%;
     }

}

@media screen and (min-width: 1024px) {

     .main_nav li {
          font-size: 1rem;
     }

     #home .container {
          width: 90%;
          margin: 0 auto;
     }

     #home p {
          width: 55%;
     }

     #portfolio {
          width: 95%;
          margin: 0 auto;
     }

     #portfolio .container {
          width: 95%;
          margin: 0 auto;
     }

     #portfolio h2 {
          font-size: 1rem;
     }

     .project_container {
          width: 32%;
          padding-top: 4%;
          padding-bottom: 4%;
     }

     #contact h2 {
          font-size: 1rem;
     }

     #contact .container {
          width: 55%;
          margin: 0 auto;
     }

     footer .container {
          width: 90%;
          margin: 0 auto;
     }

}
