/*=====================
Global Layout Set-up
=====================*/
* {
     box-sizing: border-box;
}

body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     color: #222;
     background: #f6f7f6;
}


/*============
Link Styles
============*/
a {
     text-decoration: none;
     color: black;
}


/*===============
Section Styles
===============*/
header {
     width: 100%;
     min-height: 30px;
     text-align: center;
}

header .container {
     margin: 15px;
     line-height: 1.5;
}

.main_nav {
     display: flex;
     flex-direction: column;
     font-weight: 700;
     list-style-type: none;
     padding: 0;
}

.main_nav .name {
     background: #f6f7f6;
     font-size: 2em;
}

.main_nav li {
     background: white;
     margin-top: 3px;
     margin-bottom: 3px;
     padding: 10px;
}

main {
     width: 100%;
}

#home {
     padding-top: 20px;
     padding-bottom: 20px;
     color: grey;
}

#home .container {
     margin: 15px;
     line-height: 1.5;
}

#home img {
     width: 60%;
}

#portfolio {
     background: white;
     padding-top: 20px;
     padding-bottom: 20px;
     color: grey;
}

#portfolio h2 {
     color: black;
}

#portfolio .container {
     margin: 15px;
     line-height: 1.5;
}

#portfolio img {
     width: 100%;
}

#portfolio h3 {
     color: black;
}

#contact {
     padding-top: 20px;
     padding-bottom: 20px;
     color: grey;
}

#contact h2 {
     color: black;
}

#contact .container {
     margin: 15px;
     line-height: 1.5;
}

footer {
     width: 100%;
     min-height: 30px;
}

footer .container {
     margin: 15px;
     line-height: 1.5;
     border-top: 1px solid grey;
}

.mini_nav {
     display: flex;
     justify-content: space-between;
     font-weight: 700;
     list-style-type: none;
     padding: 0;
}
